body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
}

.orange_color{
    color: orangered;
}



section{
    display: flex;
}

.half-width{
    width: 50%;
    padding-left: 8%;
    padding-top: 5%;
    padding-bottom: 8%;
}

.half-width p{
    padding: 1% 5% 5% 0;
}
.half-width img{
    width: 70%;
}

.link-button{
    text-decoration: none;
    background-image:linear-gradient(rgb(53, 53, 163), rgb(20, 20, 143));
    padding: 10px 40px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.pro-coder{
    margin-top: 5%;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

.linkedin-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(129, 129, 250), rgb(58, 58, 233));
    color: white;
    padding: 10px 40px;
    font-weight: bold;
    border-radius: 5px;
}
.pro-coder p{
    padding-right: 20%;
}
