body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
}

.orange_color{
    color: orangered;
}



.felxiable-container{
    display: flex;
}

.half-width{
    width: 50%;
    padding-left: 8%;
    padding-top: 5%;
    padding-bottom: 8%;
}

.half-width p{
    padding: 1% 5% 5% 0;
}
.half-width img{
    width: 70%;
}

.link-button{
    text-decoration: none;
    background-image:linear-gradient(rgb(53, 53, 163), rgb(20, 20, 143));
    padding: 10px 40px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.pro-coder{
    margin-top: 5%;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

.linkedin-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(129, 129, 250), rgb(58, 58, 233));
    color: white;
    padding: 10px 40px;
    font-weight: bold;
    border-radius: 5px;
    
}
.pro-coder p{
    padding-right: 20%;
}

.exp-card{
    box-shadow: 10px 10px 50px gray;
    margin: 2% 2% 10% 2%;
    padding: 5% 10%;
    border-radius: 5px;

}

.exp-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.exp-card h1{
    font-size: 20px
    
}

#apps-dev{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
    border-radius: 5px;
}

#ml-eng{
    border-left: 7px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
    border-radius: 5px;
}

footer{
    text-align: center;
}